@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --soft-blue-grey: #ACBDBA;
  --muted-light-grey: #CDDDDD;
  --violet-accent: #A599B5;
  --dark-charcoal: #2E2F2F;
  --jet-black: #051014;
}

body {
  background-color: var(--muted-light-grey);
  color: var(--jet-black);
  font-family: 'Inter', sans-serif;
}

.bg-soft-blue-grey {
  background-color: var(--soft-blue-grey);
}

.bg-muted-light-grey {
  background-color: var(--muted-light-grey);
}

.bg-violet-accent {
  background-color: var(--violet-accent);
}

.bg-dark-charcoal {
  background-color: var(--dark-charcoal);
}

.bg-jet-black {
  background-color: var(--jet-black);
}

.text-violet-accent {
  color: var(--violet-accent);
}

.border-violet-accent {
  border-color: var(--violet-accent);
}

.hover\:bg-violet-accent:hover {
  background-color: var(--violet-accent);
}